body {
    background-color: azure;
}

.wrapper {
    display: flex;
}

#scoreSection {
    margin: 1rem;
}
 #addScore {
     margin: 1rem;
 }

 .recentScores {
     display: flex;
     flex-direction: row;
 }

 h2 {
     margin: 1rem;
 }

 #scoresTable {
     border: solid black 1px;
     list-style: none;
 }

 .refresh {
     height: 1.5rem;
     margin: 1.5rem;
 }

