
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  background: url(chess1.jpg);
  background-size: 87rem;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 50px;
  background-color: #fff;
  border: 5px solid grey;
  border-style: ridge;
  opacity: 0.6;
  border-radius: 15px;
}

.item {
  border: 1px solid grey;
  margin: 1px;
}

.wrapper p {
  margin: 15%;
  font-weight: bold;
  color: #000;
}

#scoreSection {
  margin: 1rem;
}

#addScore {
  margin: 1rem;
}

.recentScores {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 1rem;
  color: red;
}

#scoresTable {
  list-style: none;
}

.refresh {
  height: 0.5rem;
  margin: 1.5rem;
}

footer {
  color: #cf2424;
  text-align: right;
  font-size: 0.5rem;
  margin-top: -35px;
}

h1 {
  text-align: center;
  color: #ef0c0c;
}

.box {
  background: linear-gradient(to right, red, darkred);
  color: lightgray;

  --width: 85px;
  --height: calc(var(--width) / 3);

  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid darkred;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

.box:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  left: -100%;
  transition: 0.5s;
}

.box:hover::before {
  left: 100%;
}
